<%- include('../partials/adminHeader') %> <%-
include('../partials/adminSidebar') %>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <img src="" alt="" />
          <div class="card-body">
            <h5 class="card-title">Datatables</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Tittle</th>
                  <th scope="col">Summary</th>
                  <th scope="col">Price</th>
                  <th scope="col">Images</th>
                  <th scope="col">Category</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody id="tableBody">
                <% let nomor = 1; %> <% data.forEach((item) => { %>
                <tr>
                  <th scope="row"><%= nomor++ %></th>
                  <td><%= item.title %></td>
                  <td><%= item.summary %></td>
                  <td><%= item.price %></td>
                  <td>
                    <img
                      class="img-fluid rounded"
                      style="width: 80px"
                      src="<%= item.images %>"
                      alt=""
                    />
                  </td>
                  <td><%= item.category.category %></td>
                  <td>
                    <button
                      onclick="deleteFood('<%= item.id_food %>')"
                      class="btn btn-outline-secondary"
                    >
                      <i class="bi bi-trash-fill"></i>
                    </button>
                    <a href="" class="btn btn-outline-secondary"
                      ><i class="bi bi-pencil-fill"></i
                    ></a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
<!-- End #main -->
<script>
  function deleteFood(idFood) {
    console.log(idFood);
  }
</script>
<%- include('../partials/adminFooter') %>
