<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link <%= (active === "dashboard") ? "": "collapsed" %>" href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link <%= (active === "food") ? "": "collapsed" %>" href="/admin/food">
        <i class="bi bi-egg"></i>
        <span>Food</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link <%= (active === "category") ? "": "collapsed" %>" href="/admin/category">
        <i class="bi bi-list-ol"></i>
        <span>Category</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link <%= (active === "table") ? "": "collapsed" %>" href="/admin/table">
        <i class="bi bi-table"></i>
        <span>Meja</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link <%= (active === "orders") ? "": "collapsed" %>" href="/admin/orders">
        <i class="bi bi-card-list"></i>
        <span>Pemesanan</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link <%= (active === "payment") ? "": "collapsed" %>" href="/admin/payment">
        <i class="bi bi-currency-dollar"></i>
        <span>Pembayaran</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link <%= (active === "users") ? "": "collapsed" %>" href="/admin/users">
        <i class="bi bi-list-task"></i>
        <span>Users</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-file-earmark"></i>
        <span>Home</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
